body {
 background : url("/static/index.jpeg") ;
 background-size: 1200px;
}
h1{
font-family: 'Sofia';font-size: 50px;
}
a:link {
  color: red;
  display: inline-block;
}

/* visited link */
a:visited {
  color: maroon;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}